@import 'bootstrap/dist/css/bootstrap.min.css';

.header{
   width: 1920px;
   max-width: 100%;
   padding: 20px 0;
   background: rgb(17 25 65);
   margin: 0 auto;
   color: #ad9857;
}

main{
   width: 1920px;
   max-width: 100%;
   margin: 0 auto;
}

footer{
   width: 1920px;
   max-width: 100%;
   margin: 0 auto;
}

